#container {
	position: relative;
	top: 30px;
	outline:2px solid #000;
	font-size: 0;
	margin:auto;
	height:480px;
	width:480px;
	padding: 0;
    border: none;
}

.grid {
	margin:0;
	padding:0;
	border:none;
	outline:1px solid #000;
	display:inline-block;
}

.main{
    border: 2px solid;
    border-radius: 5px;
    height: 1000px;
    margin: 10px 10px 10px 10px;
    padding-bottom: 20px;
}
button{
    width: 20%;
    padding: 10px;
    background-color: #006e90;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 0;
    float: left;
}

